body{
    margin: 0;
    padding: 0;
    background-color: rgb(1, 1, 26);
    color: white;
}
.button{
    background-color: transparent;
    color: white;
    border:  1px solid whitesmoke;
    height: 150px;
    font-size: 60px;
}
.container{
    width: 65% !important;
}